* {
    color: #DEF5FF;
}

#content {
    display: grid;
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    grid-template-columns: 33% 33% 33%;
    height: auto;
    width: auto;
    row-gap: 30px;
}

.club {
    background-color: #4DB4FF;
    height: 150px;
    width: 420px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.logo{
    height:90%;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.name{
    font-size: 30px;
}