.flex-tabelle {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 190px;
}
.logo{
    height:40px;
    margin-left: 50px;
    position: relative;
    top: -35px;
}
.zeile {
    background-color: #4DB4FF;
    height: 50px;
    width: 900px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
}

.infos {
    display: flex;
    flex-direction: row;
    position: relative;
    column-gap: 25px;
    position: relative;
    right: -30px;
}

.info {
    font-size: 30px;
}

#zeile-null {
    width: 900px;
    display: flex;
    border-radius: 10px;
    margin-left: 680px;
    margin-bottom: 10px;
}

#platzierung{
    margin-left: 10px;
}
#name{
    width: 380px;
    font-size: 30px;
    position: relative;
    top: -80px;
    z-index: 1;
    margin-left: 110px;
}
.legende{
    font-size: 20px;
    margin-left: 40px;
}
#legende{
    margin-top: 10px;
}